<h3>{{user.username}}'s Comments</h3>
<ul>
{{#each comments}}
<li><a href="/users/{{../user._id}}/comments/{{_id}}">{{text}}</a></li>
{{/each}}
</ul>
<a href="/users/{{user._id}}/comments/new">Add a new comment</a>

