
<p>{{comment.text}}</p>

<form action="/users/{{userId}}/comments/{{comment._id}}?_method=DELETE" method="post">
<button type="submit">Delete comment</button>
</form>

<a href="/users/{{userId}}/comments">Back to comment Index</a>
<a href="/users/{{userId}}/comments/{{comment._id}}/edit">Edit comment</a>
