<h3>{{user.username}}'s Routines</h3>

{{#each routines}}
<h3><a href="/users/{{../user._id}}/routines/{{_id}}">{{name}}</a></h3>
{{/each}}

<a href="/users/{{user._id}}/routines/new">Add a new routine</a>

<a href="/users/">Back to users</a>