<h1>{{routine.name}}</h1>

<p>Muscle Group: {{routine.muscleGroup}}</p>
<p>Instructions: {{routine.instructions}}</p>
<P>reps: {{routine.reps}}</P>
<p>sets: {{routine.sets}}</p>
<form action="/users/{{userId}}/routines/{{routine._id}}?_method=DELETE" method="post">
<button type="submit">Delete Routine</button>
</form>

<a href="/users/{{userId}}/routines">Back to Routine Index</a>
<a href="/users/{{userId}}/routines/{{routine._id}}/edit">Edit Routine</a>
