<h1>{{user.username}}'s account</h1>

<p>Name: {{user.name}}</p>
<p>Age: {{user.age}}</p>
<p>email: {{user.email}}</p>
{{#each user.routines}}
<p>Routines: {{name}}</a></p>
{{/each}}

<form action="/users/{{user.id}}?_method=DELETE" method="post">
<button type="submit">Delete Account</button>
</form>

<a href="/users">Back to User Index</a>
<a href="/users/{{user._id}}/edit">Edit Account</a>
